

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="booksApi/static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the CRUD Operations Page</h1>
    </header>
    <main>
        <div class="action-buttons">
            <a href="{% url 'create_book' %}" class="btn">Add New Book</a>
            <a href="{% url 'book_list' %}" class="btn">View Books</a>
        
        </div>
    </main>
    <footer>
       
    </footer>
    <!-- <script src="path/to/your/js/script.js"></script> -->
</body>
</html>
